<style>    
body{
    margin: 0%;
}

div{
    background-color: red;
    border: 2px outset black;
    text-align: center;
    max-width: 100%;
}
.divtvå{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    border: 2px outset black;
    text-align: center;
}


</style>